body{
    background-color: #b3e6ff;
    color: #333333;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
#body{
    background-color: #ffffff;
    width: 60%;
    min-width: 300px;
    height: 1000px;
    margin: 0 auto;
    margin-top: -10px;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
}
h1{
    font-weight: bold;
}
ul{
    list-style-type: none;
    width: 100%; 
    margin-left: -40px;
}
hr{
    width: 100%;
}
input[type="checkbox"]{
    float: right;
    margin-right: 10px;
    height: 15px;
    width: 15px;
}
button{
    outline: none;
    background-color: transparent;
    height: 25px;
    width: 25px;
    padding: 0;
    border: none;
    float: left;
}
button:active{
    margin-top: 1px;
}
button img{
    height: 25px;
    width: 25px;
}
#header{
    height: 60px;
    width: 590px;
    margin: 0 auto;
    padding: 30px 0 0 0;
    text-align: center;
}
#addthing{
    margin-top: 20px;
    width: 90%;
    margin: 0 auto;
}
#newtodo{
    height: 30px;
    border-radius: 5px;
    border: 1px solid #333333;
}
#addthing input:focus{
    outline: none;
}
#newbtn{
    background-color: #3333ff;
    border-radius: 5px;
    height: 30px;
    color: white;
}
.checked{
    opacity: .7;
}
#mobile{
    font-size: 10px;
    position: relative;
    left: 30px;
    bottom: 50px;
    display: none;
}

@media only screen and (max-width: 800px) {
    h1 {
        margin-left: -300px;
    }
    #addthing{
        width: 400px;
        padding: 0;
        margin-left: -100px;
    }
    #mobile{
        display: block;
    }
}